body {
    font-family: 'Press Start 2P', cursive, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}


/* NICKNAME */
#nickname-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(186, 241, 246, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

#nickname-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

#nickname-box input {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}


/* CONTENEDOR DEL JUEGO */
#juego-contenedor {
    width: 900px;
    height: 200px;
    border: 5px solid #fff;
    position: relative;
    overflow: hidden;
}

.dia {
    background-color: #e7f96f;
}

.noche {
    background-color: #ca8127;
}


/* SUELO */
#suelo {
    width: 100%;
    height: 30px;
    background: url('../img/suelo.png') repeat-x;
    background-size: auto 30px;
    position: absolute;
    bottom: 0;
    animation: moverSuelo 5s linear infinite;
}

@keyframes moverSuelo {
    from { background-position-x: 0; }
    to { background-position-x: -900px; }
}


/* PERSONAJE */
#pixel-bot {
    width: 50px;
    height: 50px;
    background: url('../img/pixelbot.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 10;
}


/* OBSTÁCULO */
.obstaculo {
    width: 30px;
    height: 50px;
    background: url('../img/obstaculo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 900px;
}


/* MENSAJE */
#mensaje-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 100;
    text-align: center;
}


/* PUNTUACIÓN & NIVEL & NICK */
#puntuacion {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

#nivel-display {
    position: absolute;
    top: 40px;
    right: 10px;
    color: #fff;
}

#nick-display {
    position: absolute;
    top: 70px;
    right: 10px;
    color: #fff;
}
